[submodule "Core"]
	path = Core
	url = https://github.com/insthync/unity-simple-monetization.git
[submodule "Admob"]
	path = Admob
	url = https://github.com/insthync/unity-simple-monetization-admob.git
